.header {
    display: flex;
    position: relative;
    margin-bottom: 150px;
    background-color: #176472;
}

.logo {
    width: 124px;
    height: 100px;

    margin: 40px 0 0 124px;
}

.iceImage {
    position: absolute;
    z-index: 1;

    width: 628px;
    height: 628px;
}

.headerMenuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18.25px;
    border: 1px solid #537980;
    border-radius: 27px;
    width: 156px;
    height: 40px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 64px;
    left: 0;
    right: 0;

    &:hover {
        cursor: pointer;
    }

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #040404;
    }
}