@import "../../styles/devices";
@import "../../styles/colors";

.container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #EEE;
}

.containerNotImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 256px;
    text-align: center;

    .first {
        color: $gray_900;
        font-family: Inter;
        font-size: 31.104px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.933px;
    }

    .logoTitle {
        gap: 60px;
        width: 100%;
        justify-content: center;
        align-items: center;

        margin-bottom: 30px;
    }
}

.logoTitle {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 182.13px;

    img {
        width: 182.13px;
        height: 25px;
    }

    p {
        padding: 0;
        margin: 0;
        color: $gray_500;
        font-family: Inter;
        font-size: 12.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: -0.375px;
        height: 13px;
    }
}